.content-container {
    display: flex;
    width: 80%;
    border: 1px solid #ccc;
}
.category-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    margin-left: 10px;
}

body, html, #app {
    height: 100%;
    width: 100%;
}